@import "mixins/mixins";
@import "common/var";

@include b(fullscreen) {
  position: relative;

  @include e(zoom-out) {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
  }
}
