@font-face {
  font-family: "iconfont"; /* Project id 4169159 */
  src:
    url("//at.alicdn.com/t/c/font_4169159_z3ijdxpniu.woff2?t=1689494321299") format("woff2"),
    url("//at.alicdn.com/t/c/font_4169159_z3ijdxpniu.woff?t=1689494321299") format("woff"),
    url("//at.alicdn.com/t/c/font_4169159_z3ijdxpniu.ttf?t=1689494321299") format("truetype");
}

[class*="dv-icon"],
[class^="dv-icon"],
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dv-icon-search:before {
  content: "\e65c";
}

.dv-icon-star:before {
  content: "\e671";
}

.dv-icon-loading:before {
  content: "\e689";
}

.dv-icon-youjiantou:before {
  content: "\e612";
}
