@import "mixins/mixins";
@import "common/var";

:root {
  --rate-icon-hover-color: #fadb14;
}

@include b(rate) {
  height: $--rate-height;
  line-height: 1;

  &:focus,
  &:active {
    outline-width: 0;
  }

  @include e(item) {
    display: inline-block;
    position: relative;
    font-size: 0;
    vertical-align: middle;
    cursor: pointer;
  }

  @include e(icon) {
    position: relative;
    display: inline-block;
    font-size: $--rate-icon-size;
    margin-right: $--rate-icon-margin;
    color: $--rate-icon-color;
    transition: 0.3s;

    &:hover {
      transform: scale(1.15);
    }

    &.is-hover {
      color: var(--rate-icon-hover-color, "#fadb14");
      transform: scale(1);
    }

    .path2 {
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  @include e(decimal) {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: inline-block;
    overflow: hidden;
    width: 100%;
  }

  @include e(text) {
    font-size: $--rate-font-size;
    vertical-align: middle;
  }
}
