@font-face {
  font-family: "iconfont"; /* Project id 4169159 */
  src: url('iconfont.woff2?t=1689498659550') format('woff2'),
       url('iconfont.woff?t=1689498659550') format('woff'),
       url('iconfont.ttf?t=1689498659550') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dv-icon-shezhi:before {
  content: "\e70f";
}

.dv-icon-duigou:before {
  content: "\ebe6";
}

.dv-icon-user:before {
  content: "\e7ae";
}

.dv-icon-cuowu:before {
  content: "\e603";
}

.dv-icon-delete:before {
  content: "\e699";
}

.dv-icon-star1:before {
  content: "\e859";
}

.dv-icon-search:before {
  content: "\e65c";
}

.dv-icon-star:before {
  content: "\e671";
}

.dv-icon-loading:before {
  content: "\e689";
}

.dv-icon-youjiantou:before {
  content: "\e612";
}

